 /* project-02 */
 @media (max-width:768px){
  .boxes-sec3 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .box-images2 {
      width: 65%;
      margin: 10px 55px;
  }
  .box-4 {
      width: 85%;
      margin: 10px 17px;
  } 
.footer-paras{
    flex-wrap: wrap;
}

}